@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #f5f5f5;
  --color2: #e0e0e0;
  --color3: #bdbdbd;
  --color4: #757575;
  --color5: #424242;
  --color6: #212121;
  --background: "#fff0e0";
}

.bg-background {
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color6);
  transition: background-color 0.3s ease;
  /* margin-left: 12px;
  margin-right: 12px; */
}

@media (max-width: 639px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  border-radius: 100px;
  border: 2px solid var(--color6);
}
